# Python
__pycache__/
*.pyc
*.pyo
process.env
.env
venv/
.venv/
.venv/
env/
ds_env
.backend-local-venv/

# Node
node_modules/
frontend/build/
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
